services:
  knx2mqtt:
    build: .
    depends_on:
      mqtt:
        condition: service_started
    container_name: knx2mqtt
    environment:
      - KNX_KEYS_PW=${KNX_KEYS_PW}
      - KNX_FILE_BASE_PATH=${KNX_BASE_PATH}
      - KNX2MQTT_SKIP_MQTT=${KNX2MQTT_SKIP_MQTT}
    volumes:
      - ./config-docker-compose.ini:/app/config.ini
      - ${KNX_FILE_BASE_PATH}.knxproj:/app/knx.knxproj:ro
      - ${KNX_FILE_BASE_PATH}.knxkeys:/app/knx.knxkeys:ro
  mqtt:
    image: eclipse-mosquitto:2.0
    container_name: mqtt
    ports:
      - "1883:1883"
    volumes:
      - ${HOME}/Downloads/mosquitto/config:/mosquitto/config:rw
      - ./mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro
      - ${HOME}/Downloads/mosquitto/data:/mosquitto/data:rw
      - ${HOME}/Downloads/mosquitto/log:/mosquitto/log:rw
    restart: unless-stopped
  knxmonitor:
    build: .
    depends_on:
      mqtt:
        condition: service_started
    container_name: knxmonitor
    environment:
      - KNXMONITOR_MQTT_BROKER=mqtt
      - KNXMONITOR_MQTT_PORT=1883
      - KNXMONITOR_MQTT_MAIN_TOPIC=knx
      - KNX_KEYS_PW=${KNX_KEYS_PW}
      - KNX_FILE_BASE_PATH=${KNX_BASE_PATH}
      - KNXMONITOR_KNXPROJ_PATH=/app/knx.knxproj
    volumes:
      - ${KNX_FILE_BASE_PATH}.knxproj:/app/knx.knxproj:ro
    entrypoint: ["uv", "run", "knxmonitor"]
    command: ["--host", "0.0.0.0", "--port", "8000"]
    ports:
      - "8000:8000"
